@use '#colors' as colors;

.gasketConfigPanel {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 16px 20px;

	hr {
		width: 100%;
		height: 0.5px;
		margin: 0;
		border: none;
		border-top: 0.5px solid colors.$default-border;
	}
}

.fieldWithLabel {
	& vscode-dropdown {
		max-width: initial;
	}
}

.footer {
	padding: 16px 20px;

	vscode-button {
		width: 100%;
	}
}
