**/*.tsbuildinfo
node_modules
dist
out

# package manager files
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/*.vsix
**/*.bkp

# python files
*venv

# OS Generated
.DS_STORE
packages/ide/cypress/screenshots

# Profile
*.cpuprofile
*.heapprofile

# Coverage
**/coverage

# environment files
.env
