:root {
	--foreground: var(--vscode-foreground, hsl(0, 0%, 80%));
	--border-width: 1px;
	--focus-border: var(--vscode-focusBorder, hsl(204, 100%, 42%));
	--dropdown-background: var(--vscode-dropdown-background, hsl(0, 0%, 24%));
	--dropdown-border: var(--vscode-dropdown-border, hsl(0, 0%, 24%));
	--list-active-selection-background: var(
		--vscode-list-activeSelectionBackground,
		hsl(204, 85%, 24%)
	);
	--list-active-selection-foreground: var(
		--vscode-list-activeSelectionForeground,
		hsl(0, 0%, 100%)
	);
	--list-hover-background: var(
		--vscode-list-hoverBackground,
		hsl(195, 5%, 17%)
	);

	--corner-radius-round: 2px;

	--font-family: var(
		--vscode-font-family,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol
	);
	--base-font-size: var(--vscode-font-size, 13px);
}
