.label {
	display: block;
	color: var(--foreground, hsl(0, 0%, 80%));
	margin-bottom: 7px;
	font-weight: 500;
}
.label,
.container {
	font-family: var(
		--vscode-font-family,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol
	);
	font-size: var(--base-font-size, 14px);
	line-height: normal;
}
.container.disabled {
	background: rgb(
		from var(--dropdown-background) r g b / var(--disabled-opacity)
	);
	cursor: not-allowed;
}
.container {
	position: relative;
	display: inline-block;
	width: 100%;

	color: var(--foreground, hsl(0, 0%, 80%));
	background: var(--dropdown-background, hsl(0, 0%, 24%));
	font-size: var(--base-font-size, 13px);
	line-height: normal;

	input {
		background: transparent;
		width: 100%;
		box-sizing: border-box;
		outline: none;
		border: none;
		color: var(--foreground, hsl(0, 0%, 80%));
	}
}
.inputWrapper {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 2px 8px;
	border: 1px solid var(--dropdown-border, hsl(0, 0%, 24%));
}
.inputWrapper:focus-within {
	border-color: var(--focus-border, hsl(204, 100%, 42%));
}
.grid {
	position: absolute;
	top: auto;
	margin-top: 2px;
	width: 100%;
	z-index: 1;

	display: grid;

	background: var(--dropdown-background, hsl(0, 0%, 24%));
}
.hidden {
	display: none;
}
.row,
.headerRow {
	display: contents;
	padding: 4px;
	border-bottom: 1px solid var(--dropdown-border, hsl(0, 0%, 24%));
}
.row:hover {
	.col {
		background: var(--list-hover-background, hsl(195, 5%, 17%));
	}
	cursor: pointer;
}
.row.focused {
	.col {
		background: var(--list-hover-background, hsl(195, 5%, 17%));
		border-top-color: var(--focus-border, hsl(204, 100%, 42%));
		border-bottom-color: var(--focus-border, hsl(204, 100%, 42%));
	}
	.col:first-child {
		border-left-color: var(--focus-border, hsl(204, 100%, 42%));
	}
	.col:last-child {
		border-right-color: var(--focus-border, hsl(204, 100%, 42%));
	}
}
.col {
	padding: 8px 0;
	padding-left: 16px;
	word-wrap: break-word;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.col:first-child {
	border-left: 1px solid transparent;
}
.col:last-child {
	border-right: 1px solid transparent;
}
