@use '#layout' as layout;
@use '#colors' as colors;

.socSelectionContainer {
	.searchBox {
		margin: 24px 0 40px 0;
		color: colors.$description-foreground;
	}

	.notification {
		margin: 0 0 24px 0;
	}
}
