.container {
	width: 100%;
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		--cfs-dropdown-max-width: 120px;
	}
	.toggleContainer {
		display: flex;
		gap: 8px;
	}

	.badge {
		margin-left: 4px;
	}
}
